# Add gitignore rules here
node_modules/
.env
dist/
coverage/
.DS_Store
.vscode/
npm-debug.log
yarn-error.log
logs/
*.log
temp/
tmp/
.idea/
*.iml
.env.local
.env.development.local
.env.test.local
.env.production.local
/build/
.cache/
*.sqlite
*.sqlite3
src/**/*.test.js
src/**/*.spec.js
*.bak
*.swp
thumbs.db
